/**
 * Site header
 */
 body{
  background: url(/eolica/images/bg.jpg) no-repeat #000;
  background-size: cover;
  color: #fff;
 }

.logo-box{
  margin: 150px auto;
  display: block;
  width: 290px;
  height: 290px;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 50%;
  padding: 20px;
  padding-top:100px;
  span{
    color: #fff;
    font-size: 48px !important;
    vertical-align: middle;
  }
}

img.logo-center{
  display: inline-block;
  height: 100px;
  width: auto;
  vertical-align: middle;
}

.site-header {
  min-height: 56px;
  background-color: rgba(0,0,0, 0.4);
  top:0;
  width: 100%;
  vertical-align: top;
  a{color:#fff;}
  img{
    height: 40px;
    width: auto;
  }
  .wrapper{
    padding: 5px 0;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  float: left;

  &,
  &:visited {
    color: #fff;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: #000;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  .wrapper{
    background-color: #fff;
    padding-top: 40px;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

a.login{
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 13px;
  opacity: 0.5;
  &:hover{ opacity: 1;}
}

#lfp{
  background-color: #000;
  text-align: center;
  margin-bottom: 300px;
  h1.logo{
    margin: 300px auto 0 auto;
    max-width: 485px;
    height: 53px;
    background-image: url('../images/lfp-logo.png');
    background-repeat: no-repeat ;
    background-size: 100%;
  }
  .menu{
    margin: 20px auto 0 auto;
    width: 485px;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      opacity: 0;
      &.one{
        -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
        transition: opacity 1s;
      }
      &.two{
        -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
        transition: opacity 2s;
      }
      &.three{
        -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 3s;
      }
      &.four{
        -webkit-transition: opacity 4s; /* For Safari 3.1 to 6.0 */
        transition: opacity 4s;
      }
    }
  }
  &:hover ul li{ opacity: 1;}
  ul li{
    text-transform: uppercase;
    text-align: left;
    margin: 5px 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    a{ color: #fff;}
    a:before{
      content: "//";
      margin-right: 10px;
    }
    a:hover{ color: $click; }
  }
}

.dropdown-menu {
  @include transition (all 0.2s ease-in-out);
  display: none;
}


.show-menu {
  display: block;
}
section{padding-top:30px;}
section#sobre-nos{
  padding-top:0;
  .ball{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
    padding: 60px 20px;
  }
  h2{
    font-size: 30px;
    font-weight: 500;
  }
  .box{
    max-width: 800px;
    margin: -95px auto 0;
    padding: 140px 90px 170px;
    display: block;
    background-color: rgba(0,0,0,0.65);
    text-align: left;
    p{ font-size: 20px;}
  }
}
section#clientes{
  padding-bottom: 40px;
  h2{font-size: 30px;}
  ul{ padding: 0; margin: 0;}

  ul li {
    padding: 20px;
    border: 2px solid #fff;
    width: 30%;
    display: inline-block;
    margin: 25px 3% 0 0;
    vertical-align: top;
    p{ font-size: 13px;}
    &:nth-child(3n){  margin-right: 0;}
  }
}

a.client{
  color: #fff;
  &:hover{ color: $click;}
}



//tablet
@media only screen and (max-width: 959px){
  section#clientes{
    ul li {
      width: 47%;
      display: inline-block;
      margin: 25px 4% 25px 0;
      &:nth-child(3n){  margin-right: 4%;}
      &:nth-child(2n){  margin-right: 0;}
    }
  }
}


//mobile
@media screen and (max-width: 40.5em) {
  #lfp .menu{ width: 100%;}
  #lfp h1.logo{margin-top:200px;}
  section#clientes{
    ul li {
      width: 100%;
      display: block;
      margin: 25px 0;
      &:nth-child(3n){  margin-right: 0;}
    }
  }
  section#sobre-nos{
    .box{
      padding: 140px 20px 20px;
      p{ font-size: 16px;}
    }
    .parallax-static-content { padding: 50px 0 0 0;}
  }
}

//=====

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  padding: 100px 0 0 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../images/bg-sobre-nos.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: #000;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}






